@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);
body {
    line-height: 1.25;
    width:100%;
    height:100vh;
    box-sizing: border-box;
    background: -webkit-linear-gradient(left, #c31432, #240b36);
    background: linear-gradient(to right, #c31432, #240b36);
}


/* TABLE HEADER */
table#actualTableHeader {
   border: 1px solid rgba(255,255,255,0.3);
   border-bottom:none;
   box-shadow:none;
   padding:0 1rem;
   font-size: 12px
}


table#actualTableHeader thead input {
    background:transparent;
    border:1px solid #000;
    margin-left:2px;
    color:#000;
    width: 60px;
    display: inline-block;
    padding:3px;
}

table#actualTableHeader thead th{
    position: relative;
    padding:1.5rem 0;
    background-color: rgba(255,255,255,0.3);
    border-right:1px solid black;
    color:black;
}

table#actualTableHeader thead th::after {
    content: '\f063';
    font-family: FontAwesome;
    position: absolute;
    display: block;
    left:50%;
    bottom:5px;
    color:black;
    font-size: 12px;
}


/* FINISH THeader */


/* tbody */
table caption {
    font-size: 40px;
    caption-side: top;
    text-align: left;
    background: linear-gradient(to right, #fff 0%, #c31432 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
    font-weight: 500px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    letter-spacing: 1px;
    font-weight: 100;
}

.col-lg-12 {
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    padding:2rem
}

table {
    border-collapse: separate;
    border-spacing: 0px 15px;
    margin: 0;
    padding:0 1rem;
    width: 100%;
    table-layout: fixed;
    cursor: pointer;
    font-size: 13px;
    color:white;
}

table td {
    background-color: rgba(255,255,255,0.3);
}


table th {
    text-align: center;
    color:#FF4136;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 2px;
}

table td {
    text-align: center;
    padding:15px;
}

table td {
    font-weight: 400;
}

table tfoot th {
    color:rgba(255,255,255, .2);
    font-size: 10px;
}

.table-content {
    height:260px; 
    overflow-x:auto;
    margin-top: 0px;
    border: 1px solid rgba(255,255,255,0.3);
}

/* for custom scrollbar for webkit browser*/

::-webkit-scrollbar {
    width: 6px;
} 

::-webkit-scrollbar-track {
    -webkit-box-shadow:  inset 0 0 6px black;
} 

::-webkit-scrollbar-thumb {
    -webkit-box-shadow:  inset 0 0 6px black;
}


/* responsive */
@media (max-width:767px) {
    table thead {
        display: none;
    }

    table caption {
        font-size: 20px;
    }
    
    table td::before {
        content: attr(data-label);
        float: left;
        font-weight: bold;
        text-transform: uppercase;
    }

    table tr {
        border-bottom: 3px solid #ffa500;
        display: block;
        margin-bottom: .625em;
    }
        
    table td {
        border-bottom: 1px solid #ddd;
        display: block;
        font-size: .8em;
        text-align: right;
    }

    table td:last-child {
        border-bottom:none;
    }
    
    .table-content {
        height: 350px;
        border-top:none;
    }
}